* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: url("../images/sunset.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
	font-family: sofachrome, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.container {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: flex;
}

header, main {
	flex-direction: row;
}

header {
	margin: 0 25% 0 1.5%;
}

#logo {
	width: 100%;
	padding: 25px 0 10px 0;
}

nav {
	margin: 5px 125px 0 0;
	margin-top: ;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-family: sofachrome, sans-serif;
	font-weight: 500;
	font-size: .9rem;
}

.navbutton {
	background: #3f3c48;
	margin: 0 0 15px 40px;
	padding: 15%;
	width: 100%;
	border-radius: 10px;
	text-align: center;
}

#main_content {
	display: flex;
}

.character_text {
	/* text-align:center;
  font-weight:bold;
	transition: .5s ease;
  opacity: 0;
	margin: 0 auto;
	width: 250px;
	position: absolute;
	margin-top: 20%;
	margin-left: 120px; */


	/* flex-direction: column;
	justify-content: center;
	transition: .5s ease;
  opacity: 0;
	position:absolute;
  top:50%; */
  /* left:2%;  */
  /* width:100%; */
  /* padding-top:13.5%; */

	/* top: 50%;
  left: 50%; */
  /* transform: translate(55%, -100%);
  -ms-transform: translate(-50%, -50%); */
}

/****** Effect Common Style ***********/
#main_content figure {
	position: relative;
	float: left;
	overflow: hidden;
	/* margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px; */
	width: 100vh;
	margin: 0 -100px 0 0;
	text-align: center;
	cursor: pointer;
}

#main_content figure img {
	/* position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8; */
}

#main_content figure figcaption {
	/* padding: 2em; */
	width: 50%;
	margin: auto;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#main_content figure figcaption h2 {
	/* background: #3f3c48;  */
}

#main_content figure figcaption::before,
#main_content figure figcaption::after {
	pointer-events: none;
}

#main_content figure figcaption,
#main_content figure figcaption > a {
	position: absolute;
	top: 0;
	left: 32%;
	width: 50%;
	height: 100%;
	margin: auto;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

#main_content figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#main_content figure h2 {
	/* word-spacing: -0.15em;
	font-weight: 300; */
}

#main_content figure h2,
#main_content figure p {
	margin: 0;
}

#main_content figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/***** Effect ********/
figure.effect figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%); */
	/* background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%); */
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect figcaption::before,
figure.effect p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect:hover figcaption::before ,
figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect:hover .character_image {
	opacity: 0.3;
}


.character_image {
	height: 100vh;
	width: auto;
	margin: 0 -100px 0 0;
	opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}







/****************** START MAX-WIDTH 499PX MEDIA QUERY ************************/
/* @media (max-width: 499px) {
	.container {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: auto;
		transform: none;
	}
} */

/****************** END MAX-WIDTH 499PX MEDIA QUERY ************************/

/****************** START MIN-WIDTH 500PX MEDIA QUERY ************************/
@media (min-width: 500px) {










}
/********************* END MIN-WIDTH 500PX MEDIA QUERY ***********************/
