* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: url("../images/sunset.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: 'Abel', sans-serif;
	font-size: 1.2rem;
}

h2 {
	font-family: sofachrome, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
}


/******* Page Styling ********/
.container {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: flex;
}

header, main {
	flex-direction: row;
}

/******* Header Styling ********/
header {
	margin-left: 1.5%;
}

#logo {
	width: 100%;
	padding: 25px 0 10px 0;
}

nav {
	margin: 5px 125px 0 0;
	margin-top: ;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-family: sofachrome, sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

.navbutton {
	background: #3f3c48;
	margin: 0 0 15px 40px;
	padding: 12%;
	width: 100%;
	border-radius: 10px;
	text-align: center;
}

#main_content {
	display: flex;
}

/****** Effect Common Style ***********/
#main_content figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100vh;
	margin: 0 -290px 0 0;
	text-align: center;
	cursor: pointer;
}

#main_content figure figcaption {
	width: 50%;
	margin: auto;
	color: #ffffff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#main_content figure figcaption::before,
#main_content figure figcaption::after {
	pointer-events: none;
}

#main_content figure figcaption,
#main_content figure figcaption > a {
	position: absolute;
	top: 0;
	left: 32%;
	width: 50%;
	height: 100%;
	margin: auto;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

#main_content figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#main_content figure h2,
#main_content figure p {
	margin: 0;
}

#main_content figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/***** Effect ********/
figure.effect figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect figcaption::before,
figure.effect p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect:hover figcaption::before ,
figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect:hover .character_image {
	opacity: 0.3;
}

.character_image {
	height: 100vh;
	width: auto;
	margin: 0 -100px 0 0;
	opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

/****************** START MAX-WIDTH 499PX MEDIA QUERY ************************/
/* @media (max-width: 499px) {
	.container {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: auto;
		transform: none;
	}
} */

/****************** END MAX-WIDTH 499PX MEDIA QUERY ************************/

/****************** START MIN-WIDTH 500PX MEDIA QUERY ************************/
@media (min-width: 500px) {










}
/********************* END MIN-WIDTH 500PX MEDIA QUERY ***********************/
