* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: url("../images/mandalorian_sun.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-family: sofachrome, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3rem;
	line-height: 1.8rem;
}

/****************** Typewriting Welcome Text ************************/
header {
	text-align: center;
  padding-top:5em;
	display: flex;
	justify-content: center;
}

.typetext_container {
		width: 90%;
		margin: auto;
}

h1 a {
	color:#3f3c48;
	text-decoration: none;
	text-align: center;
}

/****************** Nav/Page Buttons ************************/
.bottom_buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

nav {
	display: flex;
	justify-content: center;
	align-content: flex-end;
}

nav {
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: #ffffff;
}

.navbutton {
	background: #3f3c48;
	margin: 0 0 15px 15px;
	padding: 4%;
	width: 35%;
	/* border-radius: 10px; */
	text-align: center;
	font-family: sofachrome, sans-serif;
	font-weight: 500;
	font-size: .6rem;
}

.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}

/****************** START MIN-WIDTH 500PX MEDIA QUERY ************************/
@media (min-width: 500px) {
	.typetext_container {
		width: 62%;
	}

	.navbutton {
		padding: 3%;
		width: 30%;
		font-size: .8rem;
	}
}
/********************* END MIN-WIDTH 500PX MEDIA QUERY ***********************/

/****************** START MIN-WIDTH 700PX MEDIA QUERY ************************/
@media (min-width: 700px) {
	h1 {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.typetext_container {
		width: 40%;
	}

	.navbutton {
		padding: 3%;
		width: 22%;
		font-size: .9rem;
	}
}
/********************* End MIN-WIDTH 700PX MEDIA QUERY ***********************/

/****************** START MIN-WIDTH 900PX MEDIA QUERY ************************/
@media (min-width: 900px) {

	header {
		padding-top:5.5em;
	}

	.typetext_container {
		width: 36%;
	}

	.navbutton {
		padding: 2%;
		width: 20%;
	}
}
/********************* End MIN-WIDTH 900PX MEDIA QUERY ***********************/

/****************** START MIN-WIDTH 1100PX MEDIA QUERY ************************/
@media (min-width: 1100px) {
	h1 {
		font-size: 1.7rem;
		line-height: 2.2rem;
	}

	.typetext_container {
		width: 30%;
	}

	.navbutton {
		padding: 1.5%;
		width: 16%;
	}
}
/********************* End MIN-WIDTH 1100PX MEDIA QUERY ***********************/
