* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	background: url("../images/mandalorian_sun.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-family: sofachrome, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/****************** Typewriting Welcome Text ************************/
header {
  text-align: center;
  padding-top:5em;
	display: flex;
	justify-content: center;
}

.typetext_container {
		width: 50%;
}

h1 a {
	color:#3f3c48;
	text-decoration: none;
	text-align: center; 
}

/****************** Nav/Page Buttons ************************/
.bottom_buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: center;
	align-content: flex-end;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
}

.navbutton {
	background: #3f3c48;
	margin: 0 0 15px 15px;
	padding: 4%;
	width: 25%;
	border-radius: 10px;
	text-align: center;
	font-family: sofachrome, sans-serif;
	font-weight: 500;
}

/****************** START MIN-WIDTH 500PX MEDIA QUERY ************************/
@media (min-width: 500px) {
	.typetext_container {
		width: 35%;
	}

	.navbutton {
		padding: 4%;
		width: 23%;
	}
}
/********************* END MIN-WIDTH 500PX MEDIA QUERY ***********************/

/****************** START MIN-WIDTH 700PX MEDIA QUERY ************************/
@media (min-width: 700px) {
	.typetext_container {
		width: 30%;
	}

	.navbutton {
		padding: 3%;
		width: 21%;

	}
}
/********************* End MIN-WIDTH 700PX MEDIA QUERY ***********************/

/****************** START MIN-WIDTH 900PX MEDIA QUERY ************************/
@media (min-width: 900px) {
	.typetext_container {
		width: 25%;
	}

	.navbutton {
		padding: 2%;
		width: 17%;

	}
}
/********************* End MIN-WIDTH 900PX MEDIA QUERY ***********************/

/****************** START MIN-WIDTH 1100PX MEDIA QUERY ************************/
@media (min-width: 1100px) {
	.typetext_container {
		width: 20%;
	}

	.navbutton {
		padding: 1.5%;
		width: 14%;
	}
}
/********************* End MIN-WIDTH 1100PX MEDIA QUERY ***********************/
